:root{
    --azul: rgb(17,41,89);
}

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 992px;
    width: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

header{
    background: var(--azul);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
}
header ul{
    list-style: none;
}
header a{
    text-decoration: none;
    color: white;
}
header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}
header .menu{
    justify-content: space-between;
}
.container img {
    
}
.s1{
    justify-content: space-between;
}
.align-center{
    align-self: center;
}

.servicos{
    background: var(--azul);
    color: white;
    display: flex;
    flex-direction: column;
}
.servicos a{
    color: white;
    text-decoration: none;
}

.servicos__container--posicionamento{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

.servicos div{
    margin-bottom: 20px
 }

 .servicos div h2{
    margin-bottom: 20px
 }


 .planos{
     flex-direction: column;
 }

 .list-planos{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
 }
 
 .plano{
    min-width: 220px;
    border: 5px solid var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plano h2{
    font-size: 32px;
}
.plano h3{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .plano h3::after{
    content: "";
    width: 200%;
    height: 3px;
    background: var(--azul);
    margin-top: 20px;
 }

 .plano ul{
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
 }

 .plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
 }
 .plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background: var(--azul);
    margin-right: 5px;
 }
 .plano a{
    margin: 30px;
 }
footer{
    color: white;
    padding: 10px;
    background: var(--azul);

}
 .rodape{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }